.contactOpeningHours h2{
    display: none
}

.contactOpeningHours #openingHours{
    background-color: rgb(16,25,33);
}

.contactFindUs h2 {
    display: none
}

.contact h2{
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    padding: 20px;
    font-size: 3rem;
    text-align: center;
    font-weight: 500;
}